{% extends 'blank.html' %}
{% load static %}
    {% block content_block %}
        <div class="center-div " style="height: 100vh;">
            <div class="text-center">
            <img src="{% static 'img/cross.png' %}" alt="payment_success" class="w-50">
            <h2 class="pt-3"> Payment was unsuccessful :(</h2>
            <p>You can now head back to <a href="{% url 'products:cart' %}" style="text-decoration:underline;">cart</a> and try again.</p>
            </div>
        </div>
    {% endblock %}