#herosection {
  margin-top: 10px;
  margin-bottom: 10px;
}

.hero {
  height: 80vh;
}

.hero .carousel-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.shop-gender {
  padding: 0;
  position: relative;
}
.shopwomen {
  width: 100%;
  height: 100%;
}

.shopmen {
  width: 100%;
  height: 100%;
}

.gender-title {
  position: absolute;
  font-size: 2em;
  color: white;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.usp-row {
  padding: 40px 0;
  background-color: #f3efeb;
}
.usp-row__usp {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 12px;
  width: 24%;
}
.usp-row__usp__icon {
  height: 36px;
  margin-bottom: 15px;
}
.usp-row__usp__text {
  font-size: 14px;
}
@media screen and (max-width: 1023px) {
  .usp-row {
    padding: 25px 0;
  }
  .usp-row__usp {
    width: unset;
  }
  .usp-row__usp__description {
    display: none;
  }
}
