.wlist-items-total {
  display: flex;
  justify-content: space-between;
  letter-spacing: 1px;
  font-weight: 600;
  padding: 1rem 0px;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
}

.product {
  /* width: 210px; */
  /* min-height: 360px; */
  /* padding: 0px; */
  /* border: 1px solid black; */
  /* margin: 0px 10px 30px; */
  display: block;
  margin-bottom: 30px;
}

.product:hover {
  box-shadow: 0px 2px 16px 5px rgb(0 0 0/12%);
  box-shadow: 0px 2px 16px 5px rgb(40 44 63 / 12%);
}

.product-img {
  /* width: 100%; */
}

.product-img img {
  width: 100%;
}

.product-description {
  padding: 12px 10px 5px;
  font-size: 14px;
  letter-spacing: 1px;
}

.pd-brand {
  font-weight: 600;
  color: rgb(150, 150, 150);
  font-size: 12px;
  padding: 2px 0px;
  text-transform: uppercase;
}

.pd-name {
  font-weight: 700;
  padding: 2px 0px;
}

.pd-price {
  margin: 5px 0px;
}

.empty-wlist{
  letter-spacing: 2px;
  font-size: 20px;
  text-align: center;
}