<div aria-live="polite" aria-atomic="true" class="position-relative">
  <div
    class="toast-container position-fixed top-0 start-50 translate-middle-x"
    id="toastPlacement"
  >
    <div
      class="toast align-items-center text-white bg-danger border-0 top-0 end-0"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
      id="alert-toast"
    >
      <div class="d-flex">
        <div
          class="toast-body fw-bold"
          id="toast-body"
          style="letter-spacing: 1px"
        >
          Error! Could not add to bag.
        </div>
        <button
          type="button"
          class="btn-close btn-close-white me-2 m-auto"
          data-bs-dismiss="toast"
          aria-label="Close"
        ></button>
      </div>
    </div>
  </div>
</div>
